<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyn.mybatisplus.generator.mapper.MsTagMapper">
    <!-- List<MsTag> findTagsByArticleId(Long articleId)-->
    <select id="findTagsByArticleId" parameterType="Long" resultType="com.hyn.mybatisplus.generator.entity.MsTag">
        select id,avatar,tag_name as tagName from ms_tag
        where  id in
               (select  tag_id from ms_article_tag where article_id = #{articleId})
    </select>

    <!--List<?> findHotTagIds(int limit)-->
    <select id="findHotTagIds" parameterType="int" resultType="java.lang.Long">
        select tag_id from ms_article_tag group by tag_id ORDER BY count(*) desc limit #{limit}
    </select>
    <!--    List<MsTag> findTagsByIds(List<Long> tagIds);-->
    <select id="findTagsByIds" parameterType="list" resultType="com.hyn.mybatisplus.generator.entity.MsTag">
        select id,tag_name as tagName from ms_tag
        where id in
        <foreach collection="tagIds" item = "tagId" separator="," open="(" close=")">
        #{tagId}
        </foreach>
    </select>
</mapper>
